body{
    font-family: "Quicksand", sans-serif;
    display: flex;
    margin: 0;
    flex-direction: row;
    gap: 20px;
}
h1, h2{
    font-family: "Slabo 13px",serif;
}
h1{
    color: rgb(255, 208, 150);
    border-color: 1px solid black;
}

.logo-container {
   display: flex;
    width: 40%;
    min-height: 100vh;
    height: auto;
    background-color: #f0f0f0;
}
.logo-container img {
    flex: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.content-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    min-height: 100vh;
    height: auto;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 ;
    padding: 20px;
    gap: 10px;
    margin-top: 50px;
    width: 80%;
}
.form-section {
   display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    flex:1;
}
.form-field label{
    margin-bottom: 5px;
    font-weight: bold;
}
.form-field input {
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid rgb(248, 198, 141);;
    padding: 8px;
}
input[type="submit"] {
    width:100px;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(248, 198, 141);
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
input[type="submit"]:hover {
    background-color: #ffffff;
    color: rgb(248, 198, 141);
    border: 1px solid rgb(248, 198, 141);
}
input:focus{
    outline: 2px solid rgba(0,0,225,0.2);
}

input[type="email"]:user-valid{
    border-color: green;
}
input[type="email"]:user-invalid:not(:focus){
    border-color: red;
}
input[type="password"]:user-valid{
    border-color: green;
}

input[type="password"]:user-invalid:not(:focus){
    border-color: red;
}
